<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                © 2016 Qameta Software
            </div>
        </div>
    </div>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-4">-->
                <!--<div class="logo">-->
                    <!--<h2><a href="{{ site.url }}">Qameta</a></h2>-->
                    <!--<p>Copyright © 2016</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-8">-->
                <!--<div class="social">-->
                    <!--{% for social in site.data.socials %}-->
                    <!--<a href="{{ social.url }}">-->
                        <!--<i class="{{ social.icon }}" aria-hidden="true"></i>-->

                    <!--</a>-->
                    <!--{% endfor %}-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</footer>