<header>
    <div class="container">
        <div class="nav">
            <div class="nav__title">
                <a href="{{ site.url }}">Qameta</a>
            </div>
            <div class="nav__menu pull-right">
                <ul>
                    {% for link in site.data.navigation %}
                    <li class="{% if page.url contains link.url %}active{% endif %}">
                        <a href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>