.article {

  margin-bottom: 30px;
  padding: 0 10px;

  &__title {
    display: block;
    text-align: left;

    > h2 {
      font-size: 24px;
      margin: 0 0 10px 0;
      padding-top: 5px;
      > a {
        text-decoration: none;
        color: #4A4A4A;
      }
    }
    > img {
      margin: 0 15px 10px 0;

      border-radius: 1000px;
      height: 60px;
      width: 60px;
      float: left;
    }
    > p {
      margin: 0 0 20px 0;
      line-height: 1;
      font-size: .9em;
      color: #777;
      padding-bottom: 15px;
      border-bottom: 1px solid #DDD;
      text-align: left;

      > span {
        margin-right: 20px;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  &__excerpt {
  }
}