.panel {
  border: 1px solid $border-color;
  margin-bottom: 20px;
}

.panel__title {
  font-size: 18px;
  color: $header-font-color;
  background: $header-bg;
  padding: 10px 15px;
  line-height: 24px;
  border-bottom: 1px solid $border-color;
  font-weight: bold;
  margin: 0 0 5px;
}

.panel__body {
  padding: 10px 15px;
}