{{ if not .Params.noauthor }}
{{$author := index .Site.Data.authors (or .Params.author .Site.Params.author)}}
{{$authorname := or $author.name .Site.Params.author }}
{{$authorbio := or $author.bio .Site.Params.bio }}
{{$authorlocation := or $author.location .Site.Params.authorlocation }}
{{$authorgithub := $author.github}}
<section class="author">
  <h4><a href="https://github.com/{{ $authorgithub }}">{{$authorname}}</a></h4>
  {{if $authorbio}}
  <p>{{$authorbio}}</p>
  {{else}}
  <p>Read <a href="{{.Site.BaseURL}}">more posts</a> by this author.</p>
  {{end}}
  <div class="author-meta">
    {{with $authorlocation}}<span class="author-location icon-location">{{.}}</span>{{end}}
  </div>
</section>
{{end}}
