---
layout: blog
overview: true
title: Blog
author: eroshenkoam
---

<section id="article">
    <div class="article">
        <div class="article__title">
            {% avatar {{ page.author}} %}
            <h2>
                <a href="{{ post.url }}">{{ page.title }}</a>
            </h2>
            <p>

                <span><i class="fa fa-user" aria-hidden="true"></i> {{ page.author }}</span>
                <span><i class="fa fa-tags" aria-hidden="true"></i> {{ page.tags | join: ", " }}</span>
                <span class="pull-right"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date_to_long_string }}</span>
            </p>
        </div>
        <div class="article__body">
            {{ content }}
        </div>
        <div class="article__comments">
            {% include disqus/comments.html %}
        </div>
    </div>
</section>
