---
layout: blog
overview: true
title: Blog
author: eroshenkoam
---

<section class="post">
    <h1>
        {{ page.title }}
    </h1>
    <div class="post__meta">
        <div class="post-meta__item">
            <a href="">
                {% avatar {{ page.author}} size=24 %}
                <span>{{ page.author}}</span>
            </a>
        </div>
        <div class="post-meta__item">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span>{{ page.date | date_to_long_string }}</span>
        </div>
        <div class="post-meta__item">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span><a href="{{ page.url }}#disqus_thread"></a></span>
        </div>
    </div>
    <div class="post__content">
        {{ content }}
    </div>
    <div class="post__comments">
        {% include disqus/comments.html %}
    </div>
</section>
